.flat-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flat-owner {
  display: block;
}

.booking-form {
  background-color: #ECECEC;
  margin: 20px;
}

.form-button {
  width: 100%;
}

.flexing {
  display: flex;
}

.flat-details h4 {
  font-weight: bold;
  font-size: 1em;
}
