<ul class="list-inline text-center">
  <% data.users.last(2).each do |user| %>
    <li>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{user.github_nickname}", class: "img-circle avatar"%>
      <h3><%= user.name.capitalize %></h3>
        <%= user.github_nickname.capitalize %>

    </li>
  <% end %>
</ul>
